.header__logo {
    display: block;
    width: 112px;
    height: 33px;
    font-family: 'jsMath-cmti10', serif;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: normal;
    text-align: left;
    margin-left: 0;
    color: #F5C800;
    text-decoration: none;
    background-color: transparent;

}